body {
  height: 4000px;
  background-color: #000000;
}
header {
  height: 4rem; /*4X20=80px*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0 3.5rem;
  z-index: 100;
}
header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3.95rem;
  right: 0;
  height: 0; /*10rem*/
  background: rgba(0, 0, 0, 0.92);
  transition: 0.3s;
}
header.on:before {
  height: 10rem;
}
header:hover,
header.bg {
  background: rgba(255, 255, 255, 0.92);
}
.logo {
  float: left;
  margin: 1.4rem 0 0 0; /*28px 0 0  70px;*/
}
.logo a {
  display: block;
}
nav {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
nav > ul > li {
  float: left;
  position: relative;
}
nav > ul > li > a {
  display: block;
  height: 3.95rem;
  line-height: 3.95rem;
  color: #fff;
  font-size: 0.8rem;
  padding: 0 2rem;
  position: relative;
}
header.bg nav > ul > li > a,
header:hover nav > ul > li > a,
nav > ul > li:hover > a {
  color: #555;
}
nav > ul > li > a:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 3px;
  width: 0;
  background: #0f7258;
  transform: translateX(-50%);
  transition: 0.5s;
  overflow: hidden;
}

nav > ul > li:hover > a:before {
  transform: translateX(-50%);
  width: 70%;
}

.inner {
  position: absolute;
  left: 0;
  top: 3.95rem;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  height: 9rem;
  display: none;
}
nav > ul > li:hover .inner {
  background: rgba(18, 20, 23, 1);
}
.inner li a {
  color: #bfbebe;
  display: block;
  padding: 10px 0;
}
.inner li a:hover {
  color: #fff;
}

header > button {
  float: right;
}

.menu {
  display: none;
}

header .reserve {
  width: 11.55rem;
  height: 4rem;
  background: url(../images/btn_bg.jpg) no-repeat 100% 0;
}
header .reserve a {
  display: block;
  height: 100%;
  line-height: 4rem;
  text-align: left;
  color: #fff;
  font-size: 16px;
  text-indent: 0.75rem;
}
header .reserve:hover {
  transition: 0.5s;
  background-position: 0 0;
}

/*비디오 영역*/
.main_visual {
  min-height: 32.5rem;
  height: 100vh;
  position: relative;
}
.video_wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -1; /*
  min-width:60rem;*/
  width: 100%;
  min-height: 32.5rem;
  height: 100%;
}

.main_text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main_text span,
.main_text strong {
  display: block;
  color: #fff;
}
.main_text span {
  font-size: 1.5rem;
}
.main_text strong {
  font-size: 2.9rem;
  white-space: nowrap;
  margin-top: 1rem;
}
.main_text a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 0.85rem 2.7rem;
  font-size: 1.1rem;
  margin-top: 1.3rem;
  color: #fff;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  transition-delay: 0.2s;
}
.main_text a:before {
  content: "";
  position: absolute;
  left: -170%;
  top: -1rem;
  width: 160%;
  height: 200%;
  background: #fff;
  transform: skewX(-30deg);
  transition: 0.6s;
  z-index: -1;
}
.main_text a:hover:before {
  left: -2rem;
}
.main_text a:hover {
  color: #0f7258;
}
.main_text a i {
  display: inline-block;
  width: 1.45rem;
  height: 0.55rem;
  background: url(../images/more_arrow.png) -29px 0 no-repeat;
  position: relative;
  top: -4px;
  margin-left: 0.5rem;
  transition: 0.4s;
  transition-delay: 0.2s;
}
.main_text a:hover i {
  background-position: 0 0;
}

.icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
}
.icon ul {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
}
.icon ul li {
  flex: 1;
  text-align: center;
}
.icon ul li a {
  display: block;
  color: #fff;
  padding: 2rem 0;
  transition: 0.4s;
  position: relative;
}
.icon ul li a:before,
.icon ul li a:after {
  content: "";
  position: absolute;
  width: 45%;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background: #0f7258;
  opacity: 0;
  transition: 0.4s;
}
.icon ul li a:before {
  top: 0;
}
.icon ul li a:after {
  bottom: 0;
}
.icon ul li a:hover:before,
.icon ul li a:hover:after {
  opacity: 1;
}
.icon ul li a span {
  display: block;
  width: 50px;
  height: 44px;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition: 0.4s;
}
.icon ul li a span.icon1 {
  background-image: url(../images/quick_icon01.png);
}
.icon ul li a span.icon2 {
  background-image: url(../images/quick_icon02.png);
}
.icon ul li a span.icon3 {
  background-image: url(../images/quick_icon03.png);
}
.icon ul li a span.icon4 {
  background-image: url(../images/quick_icon04.png);
}
.icon ul li a span.icon5 {
  background-image: url(../images/quick_icon05.png);
}
.icon ul li a span.icon6 {
  background-image: url(../images/quick_icon06.png);
}
.icon ul li a h3 {
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}
.icon ul li a:hover {
  background: #fff;
  color: #0f7258;
}
.icon ul li a:hover span {
  background-position: -50px 0;
}

/* OUR SERVICE 영역 */
.service {
  padding-top: 6rem;
  opacity: 1;
}
.service .title {
  position: relative;
  top: 40px;
  opacity: 1;
  transition: 0.6s;
}
.service .title.on {
  top: 1;
  opacity: 1;
}
.service .subTitle {
  position: relative;
  top: 40px;
  opacity: 1;
  transition: 0.6s;
  transition-delay: 0.1s;
}
.service .subTitle.on {
  top: 0;
  opacity: 1;
}
.service_content {
  width: 1200px;
  margin: 50px auto 0;
  position: relative;
  top: 40px;
  opacity: 1;
  transition: 0.6s;
  transition-delay: 0.2s;
}
.service_content.on {
  top: 0;
  opacity: 1;
}
.service_content ul {
  display: flex;
  justify-content: space-between;
}
.service_content ul li {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.08);
}
.service_content ul li a {
  display: block;
  position: relative;
  background: #0f7258;
  overflow: hidden;
}
.service_content ul li a .ser_text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 1.5rem 0 1.5rem 1.5rem;
  z-index: 10;
  right: 0;
}
.service_content ul li a .ser_text strong {
  font-size: 1.3rem;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}
.service_content ul li a .ser_text p {
  line-height: 1.5;
  font-size: 0.9rem;
  font-weight: 300;
  color: #bcbcbc;
}
.service_content ul li a:hover img {
  opacity: 0.8;
}
.service_content ul li a .ser_text:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%; /*-100%*/
  bottom: 0;
  background: url(../images/ser_textbg.png) no-repeat 100% 100% / cover;
  z-index: -1;
  transition: 0.5s;
}
.service_content ul li a:hover .ser_text:before {
  left: 0;
}

/* expert_technique 영역 */
.expert_technique {
  padding-top: 8rem;
  position: relative;
}
.expert_technique:before {
  content: "";
  position: absolute;
  right: 0; /* 기준이 되어서 우측에서부터 시작 */
  top: 0;
  width: 0%;
  height: 2200px;
  background: url(../images/expert_bg.png) no-repeat 100% 0 / cover;
  transition: 2s;
  z-index: -1;
}
.expert_technique.on:before {
  width: 100%;
}
.expert_technique_inner {
  width: 1200px;
  margin: 0 auto;
}
.expert_technique .title {
  text-align: left;
  position: relative;
  top: 20px;
  opacity: 1;
  transition: 0.5s;
}
.expert_technique .subTitle {
  text-align: left;
  position: relative;
  top: 20px;
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.2s;
}
.expert_technique .expert {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 20px;
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.4s;
}
.expert_technique .title.on,
.expert_technique .subTitle.on,
.expert_technique .expert.on {
  top: 0;
  opacity: 1;
}
.expert_technique .expert li {
  width: 48%;
}
.expert_technique .expert li a {
  display: block;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.08);
  position: relative;
  overflow: hidden;
}
.expert_technique .expert li a img {
  width: 100%;
  transition: 0.5s;
}
.expert_technique .expert li a .text {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  background: rgba(33, 33, 33, 0.3); /*rgba(33,68,59,0.7);*/
  padding: 1.5rem 0 1.5rem 2.2rem;
  transition: 0.3s;
}
.expert_technique .expert li a .text:before {
  content: "";
  position: absolute;
  left: 1.1rem;
  top: 0;
  width: 3px;
  height: 80%;
  background: #fff;
}
.expert_technique .expert li a .text span {
  font-size: 0.9rem;
  display: block;
  font-weight: 300;
  margin-bottom: 10px;
}
.expert_technique .expert li a .text strong {
  font-size: 1.2rem;
  font-weight: 400;
}
.expert_technique .expert li a:hover img {
  transform: scale(1.1);
}
.expert_technique .expert li a:hover .text {
  background: rgba(33, 68, 59, 0.7);
}

.homeCheck {
  display: flex;
  margin-top: 2rem;
}
.homeCheck .text {
  width: 40%;
  align-self: flex-end;
}
.homeCheck .text .homeCheck_title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 3rem;
  position: relative;
}
.homeCheck .text .homeCheck_title:after {
  content: "";
  position: absolute;
  left: -1rem;
  bottom: -1.5rem;
  height: 1px;
  width: 110%;
  background: #fff;
  z-index: 2;
}
.homeCheck .text p {
  color: #b6e7da;
  line-height: 2;
  font-size: 1rem;
  font-weight: 300;
}
.homeCheck .img {
  width: 60%;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.08);
}
.homeCheck .img img {
  width: 100%;
}
.homeCheck .img .play {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: url(../images/video_play.png) no-repeat 50% 50% / 100%;
}

/*AWARDS 영역*/
.awards {
  margin-top: 8rem;
}
.awards .title {
  color: #fff;
}
.awards .subTitle {
  color: #b6e7da;
}
.awards .awards_content,
.awards .text_list {
  width: 1200px;
  margin: 50px auto 0;
}
.awards .awards_content ul {
  display: flex;
  justify-content: space-between;
}
.awards .awards_content ul li {
  width: 31%;
  background: rgba(8, 40, 31, 0.9);
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.23);
  position: relative;
}
.awards .awards_content ul li:before,
.awards .awards_content ul li:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 5px;
  background: #ff0000;
}
.awards .awards_content ul li:before {
  top: 0;
}
.awards .awards_content ul li:after {
  bottom: 0;
}
.awards .awards_content ul li .awards_icon {
  width: 5rem;
}
.awards .awards_content ul li .awards_icon img {
  width: 100%;
}
.awards .awards_content ul li .text {
  color: #fff;
  margin-left: 1.8rem;
}
.awards .awards_content ul li .text strong {
  font-size: 2rem;
  display: block;
  margin-bottom: 12px;
}
.awards .awards_content ul li .text span {
  font-size: 1rem;
}
.awards .text_list ul {
  display: flex;
}
.awards .text_list ul li {
  flex: 1;
}
.awards .text_list ul li p {
  padding: 0 20px;
  color: #b6e7da;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.8;
  position: relative;
}
.awards .text_list ul li p:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 2px solid #f50000;
  left: 0;
  top: 9px;
  transform: rotate(15deg);
}

/*news영역*/
.news {
  position: relative;
}
.news:before {
  content: "";
  position: absolute;
  right: 2%;
  top: 160px;
  width: 900px;
  height: 585px;
  background: url(../images/info_img03.jpg) no-repeat;
  transform: scale(0.75);
  opacity: 0.2;
}
.news_inner {
  width: 1200px;
  margin: 6rem auto 0;
}
.news .title_wrap {
  float: right;
  position: relative;
  width: 32%;
  top: 140px;
}
.news .title_wrap .title {
  text-align: left;
}
.news .title_wrap .subTitle {
  text-align: left;
  margin-top: 40px;
}
.news .news_content {
  display: flex;
  justify-content: space-between;
}
.news .news_content .left {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.news .news_content .left li:nth-child(1) {
  width: 70%;
  height: 210px;
}
.news .news_content .left li:nth-child(2) {
  width: 100%;
  margin-top: 40px;
}
.news .news_content ul li img {
  width: 100%;
  transition: 0.3s;
}
.news .news_content ul li a {
  display: block;
  height: 100%;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  background: #0f7258;
  transition: 0.3s;
}
.news .news_content ul li a:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
.news .news_content ul li a:hover .text {
  background: rgba(0, 98, 73, 0.7);
}
.news .news_content ul li a .text {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(33, 33, 33, 0.5); /*rgba(33,68,59,0.7);*/
  padding: 1.5rem 0.5rem 1.5rem 2.2rem;
  transition: 0.3s;
}
.news .news_content ul li a .text:before {
  content: "";
  position: absolute;
  left: 1.1rem;
  top: 0;
  width: 3px;
  height: 80%;
  background: #fff;
}
.news .news_content ul li a .text span {
  font-size: 0.9rem;
  display: block;
  font-weight: 300;
  margin-bottom: 10px;
  color: #fff;
}
.news .news_content ul li a .text strong {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news .news_content .right {
  width: 32%;
  position: relative;
  top: 14rem;
}

/*고객 후기*/
.consumers_inner {
  width: 1200px;
  margin: 8rem auto 0;
}
.consumers_inner .title_wrap:before {
  width: 100%;
  top: 4.3rem;
}
.consumers_inner .title,
.consumers_inner .subTitle {
  text-align: left;
}
.consumers_inner .btn_more {
  top: 1.1rem;
}
.consumers_inner .thumnail {
  margin-top: 3rem;
}
.consumers_inner .thumnail ul {
  display: flex;
  justify-content: space-between;
}
.consumers_inner .thumnail ul li {
  width: 23.5%;
}
.consumers_inner .thumnail ul li .img {
  display: block;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.consumers_inner .thumnail ul li .img:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #38ac8e;
  box-sizing: border-box;
  opacity: 1;
  transition: 0.6s;
  z-index: 1;
}
.consumers_inner .thumnail ul li .img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(6, 24, 21, 0.7) url(../images/cus_more.png) no-repeat 50%;
  opacity: 1;
  transition: 0.6s;
}
.consumers_inner .thumnail ul li a:hover .img:after {
  opacity: 1;
}
.consumers_inner .thumnail ul li a:hover .img:before {
  opacity: 1;
  border: 10px solid #38ac8e;
}
.consumers_inner .thumnail ul li .img img {
  width: 100%;
}
.consumers_inner .thumnail ul li .text {
  margin-top: 1.5rem;
}
.consumers_inner .thumnail ul li .text .icon_best {
  display: block;
  width: 34px;
  height: 17px;
  background: url(../images/best_icon.jpg) no-repeat;
}
.consumers_inner .thumnail ul li .text strong {
  display: block;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: -0.025em;
  margin: 5px 0 16px;
}
.consumers_inner .thumnail ul li .text span {
  font-weight: 300;
}
.consumers_inner .thumnail ul li .text .date {
  color: #969696;
  position: relative;
  padding-left: 10px;
}
.consumers_inner .thumnail ul li .text .date:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 0.6rem;
  background: #969696;
  transform: translateY(-50%);
}

/*게시판 영역*/
.consumers_inner .board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5rem;
}
.consumers_inner .board > div {
  width: 48%;
}
.consumers_inner .board .title_wrap:before {
  top: 2.2rem;
}
.consumers_inner .board .btn_more {
  top: -1rem;
}
.consumers_inner .board ul {
  margin-top: 1rem;
}
.consumers_inner .board ul li {
  border-bottom: 1px dashed #eee;
}
.consumers_inner .board ul li a {
  display: block;
  padding: 15px 3px;
  color: #647671;
  position: relative;
}
.consumers_inner .board ul li a:hover {
  background: #f5f5f5;
  color: #262626;
}
.consumers_inner .board ul li a span {
  display: inline-block;
  max-width: 50%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 4px -2px 10px;
  font-size: 16px;
}
.consumers_inner .board ul li a:after {
  content: "..";
  letter-spacing: 2px;
  position: absolute;
  right: 1rem;
  top: 32%;
}

.consumers_inner .btn_reserve {
  display: block;
  border: 1px solid #4c9280;
  width: 14rem;
  height: 3rem;
  box-sizing: border-box;
  text-align: center;
  line-height: 3rem;
  font-size: 1rem;
  color: #4c9280;
  margin: 4rem auto 5rem;
  transition: 0.4s;
  transition-delay: 0.2s;
  position: relative;
  overflow: hidden;
}
.consumers_inner .btn_reserve i {
  display: inline-block;
  width: 29px;
  height: 11px;
  background: url(../images/go_more_arrow.png) no-repeat -29px 0;
  position: relative;
  top: -3px;
  margin-left: 1rem;
  transition: 0.4s;
}
.consumers_inner .btn_reserve:before {
  content: "";
  position: absolute;
  left: -194%;
  top: -1px;
  width: 180%;
  height: 200%;
  background: #4c9280;
  transform: skewX(-35deg);
  z-index: -1;
  transition: 0.6s;
}
.consumers_inner .btn_reserve:hover {
  color: #fff;
}
.consumers_inner .btn_reserve:hover:before {
  left: -30%;
}
.consumers_inner .btn_reserve:hover i {
  background-position: 0 0;
}

/*footer 영역*/
footer .site_map_wrap {
  background: #262626;
}
footer .site_map {
  width: 1200px;
  margin: 0 auto;
  color: #fff;
  padding: 30px 0;
}
footer .site_map > ul {
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #373838;
  border-right: 1px solid #373838;
}
footer .site_map > ul > li {
  width: 25%;
  height: 230px;
  padding-left: 30px;
  box-sizing: border-box;
}
footer .site_map > ul > li ~ li {
  border-left: 1px solid #373838;
}
footer .site_map > ul > li > strong {
  font-weight: 500;
  font-size: 18px;
  color: #6bd4b9;
}
footer .site_map .site_map_inner {
  margin-top: 35px;
}
footer .site_map .site_map_inner li {
  margin-bottom: 20px;
}

footer .site_map .site_map_inner li a {
  color: #b3b3b3;
  font-size: 16px;
  position: relative;
}
footer .site_map .site_map_inner li a:hover {
  color: #fff;
}
footer .site_map .site_map_inner li a:before {
  content: "";
  height: 1px;
  width: 0;
  background: #fff;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  transition: 0.3s;
}
footer .site_map .site_map_inner li a:hover:before {
  width: 12px;
}

footer .sns {
  margin: 2rem 0;
}
footer .sns ul {
  display: flex;
  justify-content: center;
}
footer .sns ul li ~ li {
  margin-left: 20px;
}
footer .sns ul li:hover a img {
  animation: ani 0.8s;
}

@keyframes ani {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.footer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}
.footer .footer_logo {
  width: 26%;
}
.footer address {
  width: 74%;
  font-size: 15px;
  color: #626262;
  font-weight: 300;
}
.footer address p {
  line-height: 1.8;
}
.footer address p ~ p {
  margin-top: 20px;
  font-size: 14px;
}
.footer address p em {
  color: #262626;
}
.footer address p span {
  color: #227a63;
}
.footer address p i {
  display: inline-block;
  width: 1px;
  height: 13px;
  background: #969696;
  position: relative;
  top: 1px;
  margin: 0 8px;
}
